.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;
    
  
    .cart-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow: scroll;
      padding: 0;
    }
  
    button {
      margin-top: auto;
    }
    .text-uppercase {
      color: black;
      margin: 0;
      font-size: 1rem;
      font-weight: bold;
  }

  .text-capitalize {
    color:#5fb7ea;
    font-size: 1.5rem;
    margin-bottom: 0;
    text-align: center;
}
  .text-title {
    color: red;
    margin: 0;
    margin-bottom: 10px;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;

    
}

.deleteIcon {
  color: red;
  cursor: pointer;
}

.itemContainer {
  display: flex;
  border: 2px solid beige;
  margin-bottom: 10px;
  padding: 5px;
}

.deleteContainer {
  display: flex;  
  align-items: center;
  margin-right: 20px;
}

  img.MuiCardMedia-root.MuiCardMedia-media.MuiCardMedia-img {
    width: 25px;
}


   
  }
  